<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="fragments/header :: head"></head>
  <body>
    <header th:replace="fragments/header :: header"></header>
    <main class="page updateFile-page">
      <section class="clean-block clean-form dark">
        <div class="container">
          <div class="block-heading">
            <h2 class="text-info" th:text="#{view.button.update}"></h2>
          </div>
          <div class="alert alert-danger" role="alert" th:if="${error != null}">
            <p th:text="${error}"></p>
          </div>
          <div>
            <form
              class="form-group"
              th:action="@{'/file/movie/' + ${file.movie.title} + '/update-file/' + ${file.id} + '/'}"
              th:object="${file}"
              method="post"
            >
              <div th:replace="fragments/file :: file_form"></div>
            </form>
          </div>
        </div>
      </section>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
    <div th:replace="fragments/footer :: scripts"></div>
  </body>
</html>
