<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="fragments/header :: head"></head>
  <body>
    <header th:replace="fragments/header :: header"></header>
    <main class="page movieList-page">
      <section class="clean-block clean-services dark">
        <div class="container">
          <div class="block-heading">
            <h2 class="text-info" th:text="#{movie-list.name}"></h2>
            <span>
              <a
                class="btn btn-sm btn-outline-primary"
                th:href="@{/movie/add-movie}"
                th:text="#{form.add-movie.name}"
              ></a>
            </span>
          </div>
          <div
            class="alert alert-success"
            role="alert"
            th:if="${success != null}"
          >
            <p th:text="${success}"></p>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4" th:each="movie : ${movies}">
              <div class="card">
                <div class="card-body">
                  <a
                    class="btn btn-outline-secondary btn-sm"
                    th:href="@{'/movie/movie-details/' + ${movie.title} + '/'}"
                  >
                    <img
                      th:if="${#lists.isEmpty(movie.files)}"
                      th:src="@{/img/no_found.png}"
                      alt="no image found"
                      style="width: 120px; height: auto"
                    />
                    <img
                      th:if="${not #lists.isEmpty(movie.files)}"
                      th:src="${movie.files.get(0).url}"
                      alt="${movie.files.get(0).fileName}"
                      style="width: 120px; height: auto"
                    />
                    <h5 class="card-title" th:text="${movie.title}"></h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
    <div th:replace="fragments/footer :: scripts"></div>
  </body>
</html>
