<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="fragments/header :: head"></head>
  <body>
    <header th:replace="fragments/header :: header"></header>
    <main class="page animeList-page">
      <section class="clean block clean-services dark">
        <div class="container">
          <div class="block-heading">
            <h2 class="text-info" th:text="#{page.anime-list.name}"></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4" th:each="anime : ${animes}">
            <div class="card">
              <div class="card-body">
                <a
                  class="btn btn-outline-secondary btn-sm"
                  th:href="@{'/anime_details/' + ${anime.title} + '/'}"
                >
                  <img
                    th:src="@{/img/no_found.png}"
                    alt="no image found"
                    style="width: 120px; height: auto"
                  />
                  <h5 class="card-title" th:text="${anime.title}"></h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
    <div th:replace="fragments/footer :: scripts"></div>
  </body>
</html>
