<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="fragments/header :: head"></head>
  <body>
    <header th:replace="fragments/header :: header"></header>
    <main class="page home-page">
      <section class="clean-block clean-services dark">
        <div class="container">
          <div class="jumbotron my-4">
            <h1 class="display-3" th:text="#{home.text.welcome}"></h1>
            <p class="lead" th:text="#{home.text.lead}"></p>
          </div>
          <div class="block-heading">
            <h2 class="text-info" th:text="#{home.top-object-list.name}"></h2>
            <ul class="nav nav-tabs" id="Tab">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  role="tab"
                  data-toggle="tab"
                  id="mangas-tab"
                  href="#mangas"
                  th:text="#{home.tab.manga.name}"
                ></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="tab"
                  data-toggle="tab"
                  id="animes-tab"
                  href="#animes"
                  th:text="#{home.tab.anime.name}"
                ></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="tab"
                  data-toggle="tab"
                  id="movies-tab"
                  href="#movies"
                  th:text="#{home.tab.movie.name}"
                ></a>
              </li>
            </ul>
            <div class="tab-content" id="TabContent">
              <div
                class="tab-pane fade show active"
                role="tabpanel"
                id="mangas"
              >
                <div class="row">
                  <div class="col-md-6 col-lg-4" th:each="manga : ${topMangas}">
                    <div class="card">
                      <div class="card-body">
                        <a
                          class="btn btn-outline-secondary btn-sm"
                          th:href="@{'/manga/manga-details/' + ${manga.title} + '/'}"
                        >
                          <img
                            th:if="${#lists.isEmpty(manga.files)}"
                            th:src="@{/img/no_found.png}"
                            alt="no image found"
                            style="width: 120px; height: auto"
                          />
                          <img
                            th:if="${not #lists.isEmpty(manga.files)}"
                            th:src="${manga.files.get(0).url}"
                            alt="${manga.files.get(0).fileName}"
                            style="width: 120px; height: auto"
                          />
                          <h5 class="card-title" th:text="${manga.title}"></h5>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade show" role="tabpanel" id="animes">
                <div class="row">
                  <div class="col-md-6 col-lg-4" th:each="anime : ${topAnimes}">
                    <div class="card">
                      <div class="card-body">
                        <a
                          class="btn btn-outline-secondary btn-sm"
                          th:href="@{'/anime/anime-details/' + ${anime.title} + '/'}"
                        >
                          <img
                            th:if="${#lists.isEmpty(anime.files)}"
                            th:src="@{/img/no_found.png}"
                            alt="no image found"
                            style="width: 120px; height: auto"
                          />
                          <img
                            th:if="${not #lists.isEmpty(anime.files)}"
                            th:src="${anime.files.get(0).url}"
                            alt="${anime.files.get(0).fileName}"
                            style="width: 120px; height: auto"
                          />
                          <h5 class="card-title" th:text="${anime.title}"></h5>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade show" role="tabpanel" id="movies">
                <div class="row">
                  <div class="col-md-6 col-lg-4" th:each="movie : ${topMovies}">
                    <div class="card">
                      <div class="card-body">
                        <a
                          class="btn btn-outline-secondary btn-sm"
                          th:href="@{'/movie/movie-details/' + ${movie.title} + '/'}"
                        >
                          <img
                            th:if="${#lists.isEmpty(movie.files)}"
                            th:src="@{/img/no_found.png}"
                            alt="no image found"
                            style="width: 120px; height: auto"
                          />
                          <img
                            th:if="${not #lists.isEmpty(movie.files)}"
                            th:src="${movie.files.get(0).url}"
                            alt="${movie.files.get(0).fileName}"
                            style="width: 120px; height: auto"
                          />
                          <h5 class="card-title" th:text="${movie.title}"></h5>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="block-heading">
            <h2 class="text-info" th:text="#{home.last-object-list.name}"></h2>
            <ul class="nav nav-tabs" id="Tab">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  role="tab"
                  data-toggle="tab"
                  id="mangas-tab"
                  href="#lastMangas"
                  th:text="#{home.tab.manga.name}"
                ></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="tab"
                  data-toggle="tab"
                  id="animes-tab"
                  href="#lastAnimes"
                  th:text="#{home.tab.anime.name}"
                ></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="tab"
                  data-toggle="tab"
                  id="movies-tab"
                  href="#lastMovies"
                  th:text="#{home.tab.movie.name}"
                ></a>
              </li>
            </ul>
            <div class="tab-content" id="TabContent">
              <div
                class="tab-pane fade show active"
                role="tabpanel"
                id="lastMangas"
              >
                <div class="row">
                  <div
                    class="col-md-6 col-lg-4"
                    th:each="manga : ${lastMangas}"
                  >
                    <div class="card">
                      <div class="card-body">
                        <a
                          class="btn btn-outline-secondary btn-sm"
                          th:href="@{'/manga/manga-details/' + ${manga.title} + '/'}"
                        >
                          <img
                            th:if="${#lists.isEmpty(manga.files)}"
                            th:src="@{/img/no_found.png}"
                            alt="no image found"
                            style="width: 120px; height: auto"
                          />
                          <img
                            th:if="${not #lists.isEmpty(manga.files)}"
                            th:src="${manga.files.get(0).url}"
                            alt="${manga.files.get(0).fileName}"
                            style="width: 120px; height: auto"
                          />
                          <h5 class="card-title" th:text="${manga.title}"></h5>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade show" role="tabpanel" id="lastAnimes">
                <div class="row">
                  <div
                    class="col-md-6 col-lg-4"
                    th:each="anime : ${lastAnimes}"
                  >
                    <div class="card">
                      <div class="card-body">
                        <a
                          class="btn btn-outline-secondary btn-sm"
                          th:href="@{'/anime/anime-details/' + ${anime.title} + '/'}"
                        >
                          <img
                            th:if="${#lists.isEmpty(anime.files)}"
                            th:src="@{/img/no_found.png}"
                            alt="no image found"
                            style="width: 120px; height: auto"
                          />
                          <img
                            th:if="${not #lists.isEmpty(anime.files)}"
                            th:src="${anime.files.get(0).url}"
                            alt="${anime.files.get(0).fileName}"
                            style="width: 120px; height: auto"
                          />
                          <h5 class="card-title" th:text="${anime.title}"></h5>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade show" role="tabpanel" id="lastMovies">
                <div class="row">
                  <div
                    class="col-md-6 col-lg-4"
                    th:each="movie : ${lastMovies}"
                  >
                    <div class="card">
                      <div class="card-body">
                        <a
                          class="btn btn-outline-secondary btn-sm"
                          th:href="@{'/movie/movie-details/' + ${movie.title} + '/'}"
                        >
                          <img
                            th:if="${#lists.isEmpty(movie.files)}"
                            th:src="@{/img/no_found.png}"
                            alt="no image found"
                            style="width: 120px; height: auto"
                          />
                          <img
                            th:if="${not #lists.isEmpty(movie.files)}"
                            th:src="${movie.files.get(0).url}"
                            alt="${movie.files.get(0).fileName}"
                            style="width: 120px; height: auto"
                          />
                          <h5 class="card-title" th:text="${movie.title}"></h5>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
    <div th:replace="fragments/footer :: scripts"></div>
  </body>
</html>
