<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:insert="fragments/header :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main class="page login-page">
            <section class="clean-block clean-form dark">
                <div class="container">
                    <div class="block-heading">
                        <h3 class="text-info" th:text="#{form.login.name}"></h3>
                    </div>
                </div>
                <div class="alert alert-success" role="alert" th:if="${registrationMsg != null}">
                    <p th:text="${registrationMsg}"></p>
                </div>
                <div class="alert alert-success" role="alert" th:if="${verifiedAccountMsg != null}">
                    <p th:text="${verifiedAccountMsg}"></p>
                </div>
                <div class="alert alert-danger" role="alert" th:if="${tokenError != null}">
                    <p th:text="${tokenError}"></p>
                </div>
                <p th:if="${loginError}" class="error"></p>
                <form class="form-group" th:action="@{/login}" th:object="${user}" method="post">
                    <div th:if="${param.error!=null}">
                        <div class="alert alert-danger">
                            <span th:text="#{error.login}"></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" th:field="*{username}" id="exampleInputUsername" aria-describedby="usernameHelp" th:placeholder="#{form.input.username}" required="true" th:errorclass="is-invalid">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="icon-user"></span>
                            </div>
                        </div>
                    </div>
                        <div class="input-group mb-3">
                        <input type="password" class="form-control" th:field="*{password}" id="exampleInputPassword1" th:placeholder="#{form.input.password}" minlenght="6" pattern="^(?=.{6,}$)(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[0-9]).*$"
                        title="Le mot de passe doit contenir au moins 6 caractères avec au moins une majuscule et un chiffre" required="true" th:errorclass="is-invalid">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="icon-lock"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{form.login.name}"></button>
                    <div class="text-center">
                        <p th:text="#{form.text.noAccount}"></p>
                            <a th:href="@{/register}">
                                <button type="button" class="btn btn-link btn-block" th:text="#{form.register.name}"></button>
                            </a>
                    </div>
                </form>
            </section>
        </main>
        <footer th:insert="fragments/footer :: footer"></footer>
        <div th:insert="fragments/footer :: scripts"></div>
    </body>
</html>