<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="fragments/header :: head"></head>
  <body>
    <header th:replace="fragments/header :: header"></header>
    <main class="page uploadFile-page">
      <section class="clean-block clean-form dark">
        <div class="container">
          <div class="block-heading">
            <h2 class="text-info" th:text="#{form.upload-file.name}"></h2>
          </div>
          <div class="alert alert-danger" role="alert" th:if="${error != null}">
            <p th:text="${error}"></p>
          </div>
          <div>
            <form
              class="form-group"
              th:action="@{'/file/' + ${title} + '/upload-file'}"
              enctype="multipart/form-data"
              th:object="${file}"
              method="post"
            >
              <div class="form-group">
                <input
                  type="file"
                  name="multipartFile"
                  accept="image/png, image/jpeg"
                  class="form-control item"
                />
              </div>
              <button
                type="submit"
                class="btn btn-primary btn-block"
                th:text="#{form.upload-file.name}"
              ></button>
            </form>
          </div>
        </div>
      </section>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
    <div th:replace="fragments/footer :: scripts"></div>
  </body>
</html>
