<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:insert="fragments/header :: head"></head>
  <body>
    <header th:replace="fragments/header :: header"></header>
    <main class="page resetPassword-page">
      <section class="clean-block clean-form dark">
        <div class="container">
          <div class="block-heading">
            <h4 class="text-info" th:text="#{form.reset-password.name}"></h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              onclick="javascript:history.go(-1)"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div th:replace="fragments/alert :: error"></div>
        <form
          class="form-group"
          th:action="@{/password/reset}"
          th:object="${forgotPassword}"
          method="post"
        >
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              th:field="*{email}"
              id="inputEmail14"
              th:placeholder="#{form.input.email}"
              th:errorclass="is-invalid"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="icon-envelope"></span>
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            th:text="#{form.reset-password.name}"
          ></button>
        </form>
      </section>
    </main>
  </body>
</html>
