<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="fragments/header :: head"></head>
  <body>
    <header th:replace="fragments/header :: header"></header>
    <main class="page addAnime-page">
      <section class="clean-block clean-form dark">
        <div class="container">
          <div class="block-heading">
            <h2 class="text-login" th:text="#{form.edit-anime.name}"></h2>
          </div>
          <div
            class="alert alert-danger"
            role="alert"
            th:if="${animeError != null}"
          >
            <p th:text="${animeError}"></p>
          </div>
          <form
            class="form-group"
            th:action="@{'/animes/update_anime/' + ${anime.title}}"
            th:object="${anime}"
            method="post"
          >
            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
              <ul>
                <li
                  th:each="err : ${#fields.errors('*')}"
                  th:text="${err}"
                ></li>
              </ul>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control item"
                    th:field="*{title}"
                    th:placeholder="#{page.anime.title}"
                    th:errorclass="is-invalid"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control item"
                    th:field="*{titleVo}"
                    th:placeholder="#{page.anime.titleVo}"
                    th:errorclass="is-invalid"
                  />
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control item"
                th:field="*{origin}"
                th:placeholder="#{page.anime.origin}"
                th:errorclass="is-invalid"
              />
            </div>
            <div class="input-group mb-3">
              <select class="form-control" th:field="*{status}">
                <option
                  value=""
                  selected
                  th:text="#{page.anime.status}"
                ></option>
                <option
                  th:each="status : ${statusList}"
                  th:value="${status}"
                  th:text="${status}"
                ></option>
              </select>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control item"
                    th:field="*{releaseDate}"
                    th:placeholder="#{page.anime.releaseDate}"
                    th:errorclass="is-invalid"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control item"
                    th:field="*{endDate}"
                    th:placeholder="#{page.anime.endDate}"
                    th:errorclass="is-invalid"
                  />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control item"
                    th:field="*{nbEpisodes}"
                    th:placeholder="#{page.anime.nb-episodes}"
                    th:errorclass="is-invalid"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control item"
                    th:field="*{duration}"
                    th:placeholder="#{page.anime.duration}"
                    th:errorclass="is-invalid"
                  />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col select-style">
                <div class="input-group mb-3">
                  <select class="form-control" th:field="*{type}">
                    <option
                      value=""
                      selected
                      th:text="#{page.anime.type}"
                    ></option>
                    <option
                      th:each="type : ${types}"
                      th:value="${type}"
                      th:text="${type}"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="col select-style">
                <div class="input-group mb-3">
                  <select
                    multiple="multiple"
                    id="myMulti"
                    class="form-control"
                    th:field="*{genre}"
                  >
                    <option
                      value=""
                      selected
                      th:text="#{page.anime.genre}"
                    ></option>
                    <option
                      th:each="genre : ${genres}"
                      th:value="${genre}"
                      th:text="${genre}"
                    ></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control item"
                    th:field="*{mangaka}"
                    th:placeholder="#{page.anime.mangaka}"
                    th:errorclass="is-invalid"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control item"
                    th:field="*{producer}"
                    th:placeholder="#{page.anime.producer}"
                    th:errorclass="is-invalid"
                  />
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control item"
                th:field="*{studios}"
                th:placeholder="#{page.anime.studios}"
                th:errorclass="is-invalid"
              />
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control item"
                th:field="*{synopsis}"
                th:placeholder="#{page.anime.synopsis} + ' (max: 1000 caractères) : '"
                th:errorclass="is-invalid"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block"
              th:text="#{form.edit-anime.name}"
            ></button>
          </form>
        </div>
      </section>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
    <div th:replace="fragments/footer :: scripts"></div>
  </body>
</html>
