<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="fragments/header :: head"></head>
  <body>
    <header th:replace="fragments/header :: header"></header>
    <main class="page addReview-page">
      <section class="clean-block clean-form dark">
        <div class="container">
          <div class="block-heading">
            <h2 class="text-login" th:text="#{view.button.update}"></h2>
          </div>
          <div th:replace="fragments/alert :: error"></div>
          <form
            class="form-group"
            th:action="@{'/review/manga/' + ${review.manga.title} + '/update-review/' + ${review.id} + '/'}"
            th:object="${review}"
            method="post"
          >
            <div th:replace="fragments/alert :: fields_error"></div>
            <div th:replace="fragments/review :: form"></div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                th:text="#{view.button.update}"
              ></button>
            </div>
            <div class="form-group">
              <a
                href="javascript:history.go(-1)"
                class="btn btn-outline-primary btn-block"
                th:text="#{view.button.back}"
              >
              </a>
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
    <div th:replace="fragments/footer :: scripts"></div>
  </body>
</html>
