<!-- Upload image url form-->
<div th:fragment="form">
  <div class="form-group">
    <input
      type="text"
      class="form-control item"
      th:field="*{fileName}"
      th:placeholder="#{form.upload-file.fileName}"
      th:errorclass="is-invalid"
    />
  </div>
  <div class="form-group">
    <select class="form-control" th:field="*{type}">
      <option value="" selected th:text="#{form.upload-file.type}"></option>
      <option
        th:each="type : ${fileTypes}"
        th:value="${type}"
        th:text="${type}"
      ></option>
    </select>
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control item"
      th:field="*{size}"
      th:placeholder="#{form.upload-file.size}"
      th:errorclass="is-invalid"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control item"
      th:field="*{url}"
      th:placeholder="#{form.upload-file.url}"
      th:errorclass="is-invalid"
    />
  </div>
</div>

<!-- Upload image source form-->
<div th:fragment="upload">
  <div class="form-group">
    <input
      type="file"
      name="multipartFile"
      accept="image/png, image/jpeg"
      class="form-control item"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary btn-block"
    th:text="#{form.upload-file.name}"
  ></button>
</div>

<!-- File list-->
<div th:fragment="list">
  <img
    th:if="${#lists.isEmpty(files)}"
    th:src="@{/img/no_found.png}"
    alt="no image found"
    class="card-img-top w-100 d-block"
  />
  <div th:if="${not #lists.isEmpty(files)}">
    <img
      th:if="${#strings.contains(file.type,'image')}"
      th:src="${file.url}"
      th:alt="${file.fileName}"
      class="card-img-top w-100 d-block"
    />
    <p></p>
    <iframe
      width="auto"
      height="auto"
      th:if="${#strings.contains(file.type,'video')}"
      th:src="@{https://www.youtube.com/embed/{url} (url=${file.url})}"
      frameborder="1"
      alt="no video attached"
      allowfullscreen="0"
    >
    </iframe>
  </div>
</div>
