<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<body>
    <footer class="py-5 bg-dark" th:fragment="footer">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Library-OC 2021</p>
        </div>
    </footer>
    <div th:fragment="scripts">
        <!-- Bootstrap.js -->
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <!-- jQuery -->
        <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
        <!-- Popper.js -->
        <script th:src="@{/js/popper.min.js}"></script>

        <script th:src="@{/js/smoothproducts.min.js}"></script>
        <script th:src="@{/js/theme.js}"></script>

        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js}"></script>
        <script th:src="@{https://kit.fontawesome.com/c822637fde.js}" crossorigin="anonymous"></script>             
    </div>  
</body>
</html>