<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>MangaJutsu</title>

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/fonts/simple-line-icons.min.css}">
        <link rel="stylesheet" th:href="@{/css/smoothproducts.css}">
        <link rel="stylesheet" th:href="@{/css/heroic-features.css}">
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css}">
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i}">
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" th:href="@{/index}">
                        <img th:src="@{/img/navbar_icon.png}" alt="Library icon" style="width: 50px; height:auto"/>
                    </a>
                </div>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/personalSpace}" sec:authentication="name"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Catalogue</a>
                        </li>
                        <li class="nav-item">
                            <form id="logoutForm" th:action="@{/logout}" method="post">
                                <input class="btn" type="submit" value="Se déconnecter" name="logout">
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/register}">S'inscrire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}">Se connecter</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </body>
</html>